@page 
@model ViewCarStock
@{
    ViewData["Title"] = "View Cars and Stock";
}
<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <div class="col" >
            @if (Model.Cars.Count()>0)
            {
                @foreach (var car in Model.Cars)
                {
                    <button class="accordion">@Html.DisplayFor(m => car.CarMake) </button>
                    <div class="panel">
                        <p></p>
                        <p></p>
                    </div>
                }
            }
            else
            {
                <p>No cars found.</p>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col" >
        <button type="button" class="btn btn-labeled btn-success" >
            <span class="btn-label"><i class="glyphicon glyphicon-floppy-disk"></i></span>
            <a class="" style="text-decoration: none; color:white;" asp-area="" asp-page="/ModifyCarStock">Add New Car</a>
        </button>
        
    </div>
</div>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>
